/* CSS by ///ADD/// YOUR NAME */
/* Eunseon Cho */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 1rem;
  padding: 0.5rem;
  background: var(--news-flash);
  color: var(--watchdog-white);
  border-radius: 0.5rem;
}


/* ///ADD/// Navigation Styles */
.mobile-nav {
  position: relative;
}

.mobile-nav ul {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  margin-top: 0.5rem;
}

.menu li a,.menu-button,.btn {
  width: 100%;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  text-align: center;
  display: block;
  border: 0.1rem solid var(--news-flash);
  cursor: pointer;
}

.menu li a,.menu-button {
  padding: 0.5rem 0;
  border: 0.1rem solid var(--news-flash);
}

.menu li {
  border-bottom: 1px solid var(--blue-bulletin);
}

.menu li a:hover,.menu-button:hover,.btn:hover {
  background-color: var(--blue-bulletin);
  transition: 0.7s ease;
  border: 0.1rem solid var(--news-flash);
}

#menu-toggle:checked ~ .menu {
  display: block;
}

#menu-toggle:checked ~ .menu li a,
#menu-toggle:checked ~ .menu-button {
  padding: 0.5rem 0;
  border: 0.1rem solid var(--news-flash);
}



/* ///ADD/// Global Layout Styles */
body {
  font-family: var(--font-body);
  line-height: 1.6;
  color: var(--truth-text);
  background-color: var(--watchdog-white);
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.max-width-container,#main,#social {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: var(--blue-bulletin);
  padding: 2rem 2rem 1rem 2rem;
}

header p,
.menu-button {
  color: var(--watchdog-white);
  margin-bottom: 0.5rem;
}

#main {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

footer {
  padding: 1rem;
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white)
}


/* ///ADD/// Global Text Styles */
h1,h2,h3 {
  font-family: var(--font-heading);
  color: var(--truth-text);
  margin: 0 0 1rem 0;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--watchdog-white);
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

blockquote {
  font-style: italic;
  padding-left: 1rem;
  margin: 1rem 0;
  font-weight: 700;
  text-align: center;
}

a {
  color: var(--watchdog-white);
  text-decoration: none;
}

input,select,textarea,button {
  font-family: var(--font-body);
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid var(--blue-bulletin);
  border-radius: 0.2rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--blue-bulletin);
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}


#breaking-news h2 {
  margin-top: 1.5rem;
}

.line-divider {
  width: 100%;
  height: 1px;
  background-color: var(--watchdog-white);
  margin: 0.2rem 0 0.5rem 0;
}

.news-article .line-divider {
  background-color: var(--story-subtitle);
}

.articles-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.news-video-container:hover,
.news-article:hover {
  transition: transform 0.3s ease;
  transform: scale(1.015);
  cursor: pointer;
}

.news-video-container,
#alerts form {
  padding: 1.5rem;
  background-color: var(--news-flash);
  border: 2px solid var(--truth-text);
  box-shadow: var(--shadow);
}

.news-video-container h3,
.news-video-container p {
  color: var(--watchdog-white);
  margin: 0;
}

video {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

#featured-articles {
  margin: 2rem 0;
}

.news-article {
  border: 2px solid var(--story-subtitle);
  padding: 1rem 1.5rem;
  box-shadow: var(--shadow);
}

.news-article a,
.news-article h3,
.news-article p {
  color: var(--truth-text);
  margin-bottom: 0;
}

#alerts p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

#alerts form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--watchdog-white);
  padding-bottom: 2.5rem;
  margin: 0 1rem;
}

#alerts form legend {
  font-size: 1.5rem;
}

.lbl-input-container {
  display: flex;
  flex-direction: column;
}

.pref-choice-container {
  /* keeps on checked to not change in size */
  display: flex;
  align-items: flex-end;
  gap: 0.4rem;
}

input[type="checkbox"] {
  appearance: none;
  background-color: var(--watchdog-white);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  padding: 0;
  border: none;
}

input[type="checkbox"]:checked {
  background-color: var(--blue-bulletin);
}

input[type="checkbox"]:checked::after {
  content: "✔";
  color: var(--watchdog-white);
  display: block;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.2;
}

#alerts form .btn {
  /* I like to be as accurate as possible when selecting names 
  in case later on a similar class ect. would be added */
  background-color: var(--blue-bulletin);
  font-size: 1.5rem;
  border: 2px solid var(--truth-text);
  border-radius: 0;
  box-shadow: var(--shadow);
}

#alerts form .btn:hover {
  background-color: var(--watchdog-white);
  transition: 0.7s ease;
  color: var(--truth-text);
}

footer {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 2.5rem 1rem 0.5rem 1rem;
}

footer h2 {
  color: var(--watchdog-white);
}

.social-links-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#social .btn {
  max-width: 86px;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

footer p {
  text-align: center;
  margin-top: 2rem;
}



/* ///ADD/// medium styles 620px */
@media screen and (min-width: 620px) {
  .articles-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
  }

  .news-video-container,
  .news-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 3.5rem);
  }

  #alerts form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .lbl-input-container {
    width: calc(50% - 0.5rem);
  }

  fieldset {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .pref-choice-container {
    /* calc for padding and gap */
    width: calc(50% - 2.4rem);
  }

  .menu-button {
    display: none;
  }

  #menu-toggle ~ .menu {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    margin-left: 0;
    max-width: 525px;
  }

  .menu li a {
    padding: 1rem 0.5rem;
    text-transform: uppercase;
  }
}

/* ///ADD/// large styles 920px */
@media screen and (min-width: 920px) {
  .mobile-nav {
    flex-direction: row;
  }
  .menu {
    display: flex !important;
  }
  .menu li {
    margin-right: 16px;
  }
  .menu-button {
  display: none;
  }

    .news-article {
    width: calc(33% - 3.5rem);
  }

  .pref-choice-container {
    width: calc(33% - 2.4rem);
  }
  
}

/* ///ADD/// x-large styles 1024px */
@media screen and (min-width: 1024px) {
  main {
    max-width: 960px;
  }
}

/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: dark) {
  body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }
  header, footer {
    background-color: #1e1e1e;
  }
}
@media (prefers-color-scheme: light) {
  body.light-mode {
    background-color: #fff;
    color: #000;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {
  nav:has(#menu-toggle:checked) .menu {
    display: block;
  }
}